// UTILS
@import "./utils/variables";
@import "./utils/visually-hidden";

// BASE
@import "./base/common";
@import "./base/container";

// COMPONENTS
@import "./components/logo";
@import "./components/link";
@import "./components/social-links";
@import "./components/styles-buttons";


// LAYUOT
@import "./layouts/header";
@import "./layouts/footer";
@import "./layouts/hero";
@import "./layouts/about";
@import "./layouts/team";
@import "./layouts/offers-list";
@import "./layouts/clients";
@import "./layouts/modal";

