
.container {
  width: 100%;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  
  .header &,
  .hero & {
   align-items: center;
  }

  .hero &, 
  .activity-container &,
  .team &,
  .clients &,
  .footer &,
  .offers &
   {
   flex-direction: column;
  }

  @media screen and (min-width: 320px) {
     width: 100vw;
     

  }

  @media screen and (min-width: 480px) {
      max-width: 480px;
      margin: 0 auto;
   }

   @media screen and (min-width: 768px) {
    max-width: 768px;

    .footer & {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: baseline;
    }
   }

   @media screen and (min-width: 1200px) {
    max-width: 1200px;
     .footer & {
        justify-content: space-between;
     }
    
   }
}








// .container {
//     width: 1200px;
//     margin-left: auto;
//     margin-right: auto;
//     padding-left: 15px;
//     padding-right: 15px;

//     footer & {
//       display: flex;
//       align-items: baseline;     
//     }
//   }
  