.hero {

    padding-bottom: 118px;
    padding-top: 118px;
}

.hero-title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--white-color);
}


.background {   
    height: 400px;
    margin-left: auto;  
    margin-right: auto;
    
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/mobile-Header-img.jpg);
    background-repeat: no-repeat;
    background-position: center;  
    background-size: cover;
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
    screen and (min-resolution: 192dpi) and (min-width: 320px),
    screen and (min-resolution: 2dppx) and (min-width: 320px) {
        .background {
            max-width: 1600px;
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/mobile-Header-img@2x.jpg);
        }
    }



    @media screen and (min-width: 768px) {
        .background {
            height: 400px;
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/tablet-header-img.jpg);
         }
    }

    @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
    screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px) {
        .background {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/tablet-header-img@2x.jpg);
        }
    }


    @media screen and (min-width: 1200px) {
        .hero {
            padding-top: 200px;
            padding-bottom: 200px;
        }
        .background {
          
          height: 600px;
          background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/desktop-header-img.jpg);
    }
}

    @media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
    screen and (min-resolution: 192dpi) and (min-width: 1200px),
    screen and (min-resolution: 2dppx) and (min-width: 1200px) {
      .background {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/desktop-header-img@2x.jpg);
    }
}


      
     
      











// .background {
//     max-width: 1600px;
//     height: 600px;
//     margin-left: auto;  
//     margin-right: auto;
    
//     background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/herobackground.jpg);
//     background-repeat: no-repeat;
//     background-position: center;  
//     background-size: cover;
//   }
  
//   .service-container {
//     margin-top: 0;
//     padding-bottom: 200px;
//     padding-top: 200px;
  
//     background-color: var(--dark-bg-color);
//     text-align: center;
//   }
  
  
//   .service-title {
//     margin: 0;
  
//     color: var(--white-color);
  
//     font-weight: 900;
//     font-size: 44px;
//     line-height: 1.36;
  
//     letter-spacing: 0.06em;
//     text-transform: uppercase;
//   }
  
